@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    background: rgba(59, 57, 54, 0.8);
}
#logo{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}
#logo:hover{
    background-color: #e7e7e7;
}
#header{
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    padding: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7e7e7;
    box-shadow:  4px 4px 4px 4px rgba(231, 231, 231, 0.4);
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a{
    display: block;
    padding: .5rem;
}
#menu a:hover{
    transition: 0.5s;
    border-radius: 5px;
    color: white;
}
#btn-mobile{
    display: none;
}

@media (max-width:738px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0px;
       background: #e7e7e7;
       transition: 0s;
       z-index: 1000;
       height: 0px;
       visibility: hidden; 
    }
    #nav.active #menu{
        height: calc(100vh-70px);
        visibility: visible;  
    }
    #menu a{
        padding: 1rem 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #menu a:hover{ 
        transition: 0.5s;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border:none;
        background: none;
        cursor: pointer;
        gap:.5rem;
    }
    #burger{
        border-top: 2px solid;
        width: 20px;
        
    }
    #burger::after, #burger::before{
        content: '';
        display:block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #burger{
        border-top-color: transparent ;
        
    }
    #nav.active #burger::before{
        transform: rotate(135deg);
        
    }
    #nav.active #burger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
/*Header finalizado*/
body{
    overflow-x: hidden;
    background-color: rgba(59, 57, 54, 1);
}
hr{
    max-width: 80%;
    margin: auto;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40rem;   
}
.title-1{
    position:static;
    width: 300px ;
    text-align: center;
    margin-right: 10rem;
}
.title-1 h2{
    text-transform: uppercase;
    font-size: 40px;
    box-shadow: 4px 4px 4px 4px rgba(231, 231, 231, 0.2);
}
.abount{
    width: 100vw;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7e7;    
}
.abount img{
    margin-bottom: 5rem;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 1s;
}
.abount img:hover{
    transform: rotateY(360deg) ;
}
.abount p{
    width: 30vw;
    max-height:300px;
    color: #e7e7e7;
    cursor: pointer;
    transition: transform 1s;
}
.abount p:hover{
    transform: scale(1.5);
}
.project{
    width: 100vw;
    height: 650px;
}
.container-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-project .text-2{
    width: 300px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.text-2 h2{
    text-transform: uppercase;
    font-size: 40px;
    box-shadow: 4px 4px 4px 4px rgba(231, 231, 231, 0.2);
    text-align: center;
    color: #e7e7e7;
}
.main{
    height: 350px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem ;    
}
.main-1 img{
    width: 100px;
    height: 100px;
}
.main-1{
    width: 50vh;
    height: 100%;
    background-image: url("../img/image-1.png");
    background-repeat: no-repeat;
    border-radius: 10px; 
}
.main-2{
    width: 50vh;
    height: 100%;
    background-image: url("../img/image-2.jpg");
    background-size: 50vh 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.main-3{
    width: 50vh;
    height: 100%;
    background-image: url("../img/image-3.jpg");
    background-size: 50vh 100%;
    background-repeat: no-repeat;
    border-radius: 10px;   
}
.project-link{
    text-decoration: none;
    width: 50%;
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 18rem;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: 4px 4px 4px 4px rgba(231, 231, 231, 0.2);
    text-align: center;
    color: #e7e7e7;
    border-radius: 5px;
    background-color: rgba(0, 115, 105, 1);
}
.project-link:hover{
    transition: 0.8s;
    background-color: rgba(59, 57, 54, 0.8);
}